.container{
    /* background-color: black; */
}

.btn-toolbar{
    /* background-color: brown; */
    margin-top: 20px;
}
.div-botoes{
    margin: auto;
}

.div-pesquisa{
    /* background-color: cornflowerblue; */
    margin-top: 20px;
}
.div-pesquisa-itens{
    margin: auto;
}

.div-itens{
    /* background-color: darkgoldenrod; */
}
.div-img{
    height: 110px;
    width: 120px;
    margin: 25px;
    /* background-color: darksalmon; */
}
.img-item{
    height: 90px;
    width: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.nome-produto{
    text-align: center;
}


.div-itens-carrinho{
    background-color: darkslategray;
}
.info-compra{
    background-color: firebrick;
}
